.details {
    width: 100%;
    padding-bottom: 32px;
}
.details__inner {
    
}
.details__wrapper {
    margin-bottom: 32px;
}
.details__title-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    // max-width: 327px;
    // width: 100px;
    padding: 16px 71px 134px 16px;
    background-image: url(../../images/bglihero2.png),url(../../images/herobgwhiteorginal.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 196px 56px,cover;
    border-radius: 10px;
    background-color: #3563e9;
}
.details__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.32px;
    color: #fff;
}
.details__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    line-height: normal;
    letter-spacing: -0.24px;
    color: #fff;
}
.details__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    @include list-unstyled;
    margin-top: 24px;
}
.details__item {
    
}
.details__item-link {
    display: block;
    text-decoration-line: none;
}
.details__link-img {
    max-width: 96px;
    width: 100%;
    height: 64px;
}
.details__item-link:hover {
    border-radius: 10px;
    border: 2px solid #3563e9;
}
.details__link-img:hover {
    transform: scale(0.9);
}
.details__about {
    padding: 16px;
    border-radius: 10px;
    background-color:#fff;
}
.about__title {
    margin-top: 0;
    margin-bottom: 0;    
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.6px;
    color:#1a202c;
}
.about__star-wrapper {
    margin-top: 6px;
    margin-bottom: 16px;
}
.about__star-desc {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.24px;
    color:#90a3bf;
}
.about__star-desc::before {
    display: block;
    max-width: 76px;
    width: 100%;
    height: 12px;
    content: "";
    background-image: url(../../images/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.about__desc {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 200%; 
    letter-spacing: -0.24px;
    color: #90a3bf;
}
.about__list-wrapper {
    
}
.about__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @include list-unstyled;
    margin-bottom: 32px;
}
.about__item {
    
}
.about__item-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @include list-unstyled;
}
.about__list-item {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}
.about__list-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.24px;
    color:#90a3bf;
}
.about__list-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    color:#1a202c;
}
.about__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__link-wrapper {
    
}
.about__info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.about__info {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #1a202c;
}
.about__info-active {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    color:#90a3bf;
}
.about__link {
    display: block;
    max-width: 110px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: -0.32px;
    text-align: center;
    text-decoration-line: none;
    color:#fff;
    border-radius: 4px;
    background-color: #3563e9;
}

.about__link:hover {
    opacity: 0.8;
}
.about__link:active {
    background-color: #1a37a7;
}
@include mobile-first(375px) {
    .details__list {
        column-gap: 20px;
    }
    .details__title {
        font-size: 16px;
    }
    .details__desc {
        font-size: 12px;
    }
    .details__link-img {
        max-width: 148px;
        height: 70px;
    }
    .about__desc {
        font-size: 12px;
    }
    .about__link {
        max-width: 140px;
    }
    .about__list-item {
        column-gap: 24px;
    }
    .about__list {
        justify-content: space-between;
    }
}
@include mobile-first(425px) {
    .details__title-wrapper,.details__about {
        max-width: 492px;
        width: 100%;
        margin: 0 auto;
    }
    .details__title {
        font-size: 20px;
    }
    .details__desc {
        font-size: 16px;
    }
    .details__link-img {
        height: 90px;
    }
    .about__desc {
        font-size: 16px;
    }
    .about__list-desc {
        font-size: 16px;
    }
    .about__list-title {
        font-size: 16px;
    }
    
}
@include mobile-first(520px) {
    .details__about {
        max-width: 492px;
        width: 100%;
        padding: 24px;
    }
    .details__wrapper {
        max-width: 492px;
        width: 100%;
    }
    .details__link-img {
        height: 100px;
    }
    .about__star-desc {
        font-size: 14px;
    }
    .details__title {
        font-size: 24px;
    }
    .details__desc {
        font-size: 18px;
    }
    .about__desc {
        font-size: 18px;
    }
    .about__list-desc {
        font-size: 18px;
    }
    .about__list-title {
        font-size: 18px;
    }
    .about__list-item {
        column-gap: 32px;
    }
} 
@include mobile-first(550px) {
    .details__link-img {
        height: 124px;
    }
}
@include mobile-first(1024px) {
    .details__inner {
        display: flex;
        align-items: center;
        column-gap: 32px;
        margin-top: 32px;
    }
    .details__wrapper {
        margin-bottom: 0;
    }
    .details__about {
        margin-right: 0;
        margin-left: 0;
    }
    .details__title-wrapper {
        row-gap: 16px;
    }
    .details__title {
        font-size: 28px;
        line-height: 150%;
    }
    .details__desc {
        font-size: 16px;
        line-height: 150%;
    }
    .about__list {
        margin-bottom: 58px;
    }
    .about__title {
        font-size: 28px;
    }
    .about__star-desc,.about__desc,.about__list-desc{
        color:#596780;
    }
    .about__star-desc,.about__desc,.about__list-title {
        font-weight: 400;
    }
    .about__info {
        font-size: 24px;
    }
    .about__info-active {
        font-size: 16px;
    }
    .about__star-wrapper {
        margin-top: 10px;
        margin-bottom: 34px;
    }
    .about__star-desc::before {
        max-width: 108px;
        height: 20px;
        background-image: url(../../images/starpc.png);
    }
}
@include mobile-first(1200px) {
    .container {
        padding: 0;
    }
    .details__title {
        font-size: 32px;
        line-height: 150%;
    }
    .details__title-wrapper {
        padding: 24px 85px 176px 24px;
        background-size: auto, cover;
    }
    .about__title {
        font-size: 32px;
    }
    .about__desc {
        margin-bottom: 32px;
        font-size: 20px;
        letter-spacing: -0.4px;
    }
    .about__list-title,.about__list-desc {
        font-size: 20px;
        line-height: 150%; /* 30px */
        letter-spacing: -0.4px;
    }
    .about__info {
        font-size: 28px;
    }
}
@include mobile-first(1300px) {
    .details__title-wrapper {
        padding-right: 60px;
    }
    
}